html, body {
    font-family: "Arial", sans-serif;
    font-size: 12pt;
    min-height: 100vh;
}

.controls {
    display: flex;
    justify-content: center;
    margin: 32px 0;
}

.score {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    padding-bottom: 32px;
}

.field-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.field {
    display: inline-block;
    margin: 0 auto;
    transition: 0.25s transform ease;
    position: relative;
}

.field.field-win::after {
    position: absolute;
    content: '\2714';
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    color: green;
    background: rgba(255, 255, 255, 0.7);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.field-row {
    float: left;
    display: inline-block;
    clear: both;
}

.field-item {
    float: left;
    display: flex;
    width: 48px;
    height: 48px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 1px;
    box-sizing: border-box;
}

.field-type-empty {
    background: #ddd;
}

.field-type-wall {
    background: #ff5900;
}

.field-type-block {
    background: #00a876;
}

.field-type-out {
    background: #a63a00;
    color: rgba(0, 0, 0, 0);
    font-size: 2.5em;
}
